:root {
  font-size: 100%;
  font-family: Roboto, sans-serif;
  --rosa-500: #fec5bb;
  --rosa-400: #fcd5ce;
  --rosa-300: #fae1dd;
  --rosa-200: #f8edeb;

  --azul-500: #d8e2dc;
  --azul-400: #e8e8e4;

  --amarelo--300: #ffe8d6;
  --white-500: rgba(255, 253, 253, 0.863);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  scroll-behavior: smooth;
}
body {
  background-color: var(--azul-400);
}
a{
    text-decoration: none;
    color: black;
}
#checkbox-menu{
  display: none;
}
nav {
  padding: 0 5rem;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-500);
}
nav figure img {
  width: 250px;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  height: 100%;
  justify-content: center;
}
nav ul a {
  text-decoration: none;
  height: 100%;
  color: black;
}
nav ul li {
  width: 100px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  justify-content: center;
  height: 100%;

  transition: 0.2s;
}
.mini-page a{
  text-decoration: none;
  color: black;
}
nav ul li:hover {
  background-color: var(--rosa-200);
}
main {
  padding: 60px 5rem 8.5rem;
}
.text-container {
  width: 600px;
  padding: 3.2rem 0rem 5rem 10rem;
}
.text-container h1 {
  font-size: 3.5rem;
}
.text-container h1,
.text-container p {
  padding: 1rem 0rem;
}
.text-container p {
  font-size: 1.2rem;
}
.text-container input {
  padding: 1rem;
  width: 200px;
  border: solid 1px blue;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
  height: 52px;
}
.text-container input:hover {
  background-color: #dbdad9;
}
#developer {
  position: absolute;
  top: 20%;
  right: 15%;
  height: 400px;
  width: 500px;
  z-index: -1;
}
#about {
  background-color: #bbbbbb31;
  padding: 5rem 10rem 6rem;
}
#about h1 {
  font-size: 5rem;
}
#about p {
  font-size: 1.5rem;
  padding-top: 80px;
  width: 700px;
}
#about div{
    padding: 1rem 0rem;
}
.img-perfil {
  width: 350px;
  float: right;
  z-index: 3;
  border: solid 10px var(--white-500);
}
#circle-relogio {
  animation-name: relogio;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.folha-right {
  animation-name: folhas;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.folha-left {
  animation-name: folhas;
  animation-duration: 5s;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
}
#works{
    padding: 5rem 10rem;
    background-color: aliceblue;
}
#works h1{
    font-size: 5rem;
}
.works{
    padding: 4rem 0rem;
    display: flex;
    flex-wrap: wrap;
}
.mini-page{
    width: 282px;
    padding: 1rem;
    border-radius: 10px;
    background-color: #e4e4e4;
    text-align: center;
    margin: 10px 10px;
    transition: 0.2s;
}
.mini-page:hover{
    box-shadow: 0px 0px 12px 1px black;
    transform: scale(1.05);
}
.mini-page img{
    width: 250px;
    border-radius: 10px;
}
.mini-page h2{
    padding-top: 10px;
    font-size: 2rem;
}
.contact{
    padding: 3.5rem 10rem;
    position: relative;
}
.contact h1{
    font-size: 5rem;
}
.contact p{
    padding-top: 1rem;
    font-size: 2rem;
}
.contact label input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: solid 1px black;
    outline: 0;
}
#name{
    width: 500px;
}
#formulario{
    padding: 1rem 2rem;

}
.text-form{
    display: flex;
    padding-bottom: 1rem;
}
.text-form label{
  padding-top: 1.2rem;

}
.text-form label:nth-child(2){
  padding-left: 10px;
}
.text-form label input{
  width: 245px;
}
#message{
    width: 500px;
    height: 150px;
}
#submit{
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    background: #d8e2dc;
    color: black;
  border: solid 1px blue;
}
#form-svg{
    position: absolute;
    width: 25rem;
    right: 10rem;
    top: 10%;
}
.checkbox-menu{
  display: none;
}
@keyframes relogio {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(30px, 30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes folhas {
  0% {
    transform: translate(-200.68641px, -105.38871px);
    
  }
  50% {
    transform: translate(-200.68641px, -140.38871px);
    
  }
  100%{
    transform: translate(-200.68641px, -105.38871px);
  }
}


@media (min-width: 1550px) and (max-width:1700px) {
    :root{
        font-size: 110%;
    }
}
@media (max-width:1330px) and (min-width:1160px){
    :root{
      font-size: 85%;
    }
    .text-container p{
      max-width: 330px;
    }
    #about p{
    width: 550px;
    }
    .img-perfil{
    width:250px;
  }
}
@media (max-width:1159px){

  #developer{
    width: 300px;
  }
  #about p{
    font-size: 1.2rem;
    padding-top: 1.2rem;
    width: 400px;
  }
  .img-perfil{
    width:250px;
  }
  #form-svg{
    display: none;
  }
  #contact{
    display: block;
    margin: auto;

  }
  body h1{
    font-size: 3.5rem !important;
  }
  .mini-page{
    width: 232px;
  }
  .mini-page img{
    width: 200px;
  }
  #works{
    padding: 4rem 4.5rem;
  }
  #contact{
    padding: 10rem 7rem;
  }
  
}
/*MESA DIGITALIZADORA*/

@media (max-width:1000px){
  .menu-container{
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .checkbox-menu{
  position: absolute;
  opacity: 0;
  z-index: 7 !important;
  display: block;
}

.menu-container label{
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

label span{
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: #f16234;
  transition: 0.25s ease-in-out;
}

label span:nth-child(1){
  top: 0;
}

label span:nth-child(2){
  top: 8px;
}

label span:nth-child(3){
  top: 16px;
}


  .menu ul{
    display: none;
  }
  .menu ul a{
    width: 100%;
    text-align: center;
  }
  .menu ul a li{
    width: 100%;
  }
  .menu{
    position: absolute;
    background-color: rgb(216, 215, 215);
    height: 100vh;
    top:0;
    left: 0;
    width: 0;
    transition: 0.2s;
    
  }
 .menu[data-menu='true']{
  width: 80%;
  }
  .menu[data-menu='true'] ul{
  display: flex;
  flex-direction: column;
  width: 400px;
  width: 100%;
  }
  nav{
    position: fixed;
    width: 100vw;
    z-index: 3;
  }

  .menu-second{
    position: absolute;
    top: 0;
  }
  .second-menu-container{
    display: flex;
    flex-direction: column;
  }
  #developer{
    display: none;
  }
  .text-container{
    padding-left: 100px;
  }
  .text-container a input{
    margin-top: 50px;
    
  }
  #about{
    padding: 5rem 3rem;
  }
}
@media (max-width:710px){
  .text-container{
    padding-left: 0;
  }
  
  #contact{
    padding-left: 30px;
  }
  #about p{
    padding-left: 100px;
    width: auto;
  }
  .img-perfil{
    display: none;
  }
  .text-container{
    width: auto;
  }
}
@media (max-width:600px){
  .contact h1{
    font-size: 3rem !important;
}
.contact p{
    padding-top: 1rem;
    font-size: 1.5rem;
    padding-left: 20px;
}
.contact label input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: solid 1px black;
    outline: 0;
}
#name{
    width: 100%;
}
#formulario{
    padding: 1rem 2rem;

}
.text-form{
    flex-direction: column;
}
.text-form label{
  padding-top: 1.2rem;
  padding-left: 0 !important;
}
.text-form label input{
  width: 100%;
  
}
#message{
    width: 300px;
    height: 150px;
}
#submit{

    width: 200px;

}
#sobre{
  padding-left: 30px !important;
}
nav figure img{
  width: 200px;
}
}
@media (max-width:400px){
  nav figure img{
    width: 150px;
  }
  nav{
    padding: 0rem 1rem;
  }
}